# Ignore virtual environment directories
venv/
env/
cardekho_venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore data files
*.pkl
*.xlsx
*.csv

# Ignore Streamlit cache and logs
.streamlit/

# Ignore system files
.DS_Store
Thumbs.db
